---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "forsale";
@import "include-media";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-color: #E86600;
$container-color: #FF9500;

$footer-height-mobile: 10em;
$footer-height-tablet: 5em;
$footer-height-desktop: 5em;

$red: #ff0000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;  
}

html, body {
  margin:0;
  padding:0;
  height:100%;
  background-color: $background-color;
  line-height: 3em;
}


.container {

  // border: 1px dotted black;
  margin: 0 auto;
  // padding: 1em;
  background-color: $container-color;
  min-height:100%;
  position:relative;
  @include media(">tablet") {
      width: 768px;
  }
  @include media("<=tablet") {
    width: 100%;
  }
}
.site-header {
  background-color: $container-color;
  padding:10px;
  text-align: center;
}
.body {
   padding: 1em;
   @include media(">tablet") {
     padding-bottom: $footer-height-desktop; // Height of the footer
   }
   @include media(">500px", "<=tablet") {
     padding-bottom: $footer-height-tablet; // Height of the footer
   }
   @include media("<500px") {
     padding-bottom: $footer-height-mobile;
   }
}
.site-footer {
  background-color: $container-color;
  width:100%;
  margin: 0 auto;
  @include media(">tablet") {
    height: $footer-height-desktop; // Height of the footer
  }
  @include media(">500px", "<=tablet") {
    height: $footer-height-tablet; // Height of the footer
  }
  @include media("<500px") {
    height: $footer-height-mobile;
  }
  position:absolute;
  bottom:0;
  left: 0;
  // padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

.footer-wrap {
  margin: 0 auto;
  border: $red solid 1px;
}

.footer-div {
  height: 1em;
  display:inline-block;
  @include media("<=500px") {
    width: 100%;
    line-height: 1em;
  }
}

.footer-dash {
  @include media("<=500px") {
    display: none;
  }
}

.page-header {
  border-bottom: dotted 1px #000000;
}


.nav {
  border: 1px dotted black;
  width: 100%;
  margin: 10px auto;
  position: relative;
  text-align: center;
}

.nav-button {
  // border: 1px solid red;
  display:inline-block;
  // margin: .8em;
  width: 49%;
  font-size: 1.5em;
  &:hover {
    color:grey;
  }
  &:active {
    color: $red;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
  cursor:default;
}


h1 {
  font-size: 400%;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 1em;
}

h2 {
  font-size: 300%;
  font-family: $base-font-family;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  /*line-height: 15.4px;*/
}
h3 {
  font-family: $base-font-family;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  /*line-height: 15.4px;*/
}
p {
  font-family: $base-font-family;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 2em;
}




a {
  color: black;
  &:hover {
    text-decoration: underline;
    color: #33334d;
  }
  &:active {
    color: #ff0000;
  }
}

a img {
  outline:1px solid black;
  outline-offset:-1px;
  &:hover {
    outline:3px solid black;
    outline-offset:-3px;
  }
  &:active {
    outline:3px solid $red;
    outline-offset:-3px;
  }
}

.padding-bottom {
  padding-bottom: .8em;
}

.padding-top {
  padding-top: .8em;
}

.second-line {
  font-style: italic;
}

$pyramid-list-size: 220%;

.main-list-line-1 {
  font-size: $pyramid-list-size * 1;
}
.main-list-line-2 {
  font-size: $pyramid-list-size * .95;
}
.main-list-line-3 {
  font-size: $pyramid-list-size * .9;
}
.main-list-line-4 {
  font-size: $pyramid-list-size * .85;
}
.main-list-line-5 {
  font-size: $pyramid-list-size * .8;
}
.main-list-line-6 {
  font-size: $pyramid-list-size * .75;
}

.home {
  text-align: center;
}

hr {
  border: 0;
  border-bottom: 1px dotted black;
  margin-top: 0;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1.2em;
}

.mainList li {
  padding: .8em;
}
.mainList li:before {
 content: "\0BB \020";
}

